<div class="estimate-contents">
  <div class="estimateWrapper">
    <ul>
      <li>
        <h3>お客様オーダー受付・サービス提供管理ソリューション</h3>
        <div class="estimatePartsWrapper">
          <div class="estimateParts">
            <div class="estimatePartsTitle"><a href="https://azure.microsoft.com/ja-jp/services/app-service/" target="_blank" class="ext">App Service</a></div>
            <img src="assets/images/icon_app-service.png" class="estimatePartsImage" alt="">
            <div class="estimatePartsPrice">&yen; 35,819 円 / 月</div>
          </div>
          <div class="estimateParts">
            <div class="estimatePartsTitle"><a href="https://azure.microsoft.com/ja-jp/services/virtual-machines/" target="_blank" class="ext">Virtual Machines</a></div>
            <img src="assets/images/icon_virtual.png" class="estimatePartsImage" alt="">
            <div class="estimatePartsPrice">&yen; 50,997 円 / 月</div>
          </div>
          <div class="estimateParts">
            <div class="estimatePartsTitle"><a href="https://azure.microsoft.com/ja-jp/services/sql-database/" target="_blank" class="ext">SQL Database</a></div>
            <img src="assets/images/icon_sql.png" class="estimatePartsImage" alt="">
            <div class="estimatePartsPrice">&yen; 6,921 円 / 月</div>
          </div>
          <div class="estimateParts">
            <div class="estimatePartsTitle"><a href="https://azure.microsoft.com/ja-jp/services/storage/" target="_blank" class="ext">Storage</a></div>
            <img src="assets/images/icon_storage.png" class="estimatePartsImage" alt="">
            <div class="estimatePartsPrice">&yen; 1,028 円 / 月</div>
          </div>
          <div class="estimateParts">
            <div class="estimatePartsTitle"><a href="https://azure.microsoft.com/ja-jp/services/cache/" target="_blank" class="ext">Redis Cache</a></div>
            <img src="assets/images/icon_redis.png" class="estimatePartsImage" alt="">
            <div class="estimatePartsPrice">&yen; 10,473 円 / 月</div>
          </div>
          <div class="estimateParts">
            <div class="estimatePartsTitle"><a href="https://azure.microsoft.com/ja-jp/services/application-insights/" target="_blank" class="ext">Application Insights</a></div>
            <img src="assets/images/icon_application.png" class="estimatePartsImage" alt="">
            <div class="estimatePartsPrice">&yen; 7,650 円 / 月</div>
          </div>
          <div class="estimateParts">
            <div class="estimatePartsTitle"><a href="https://azure.microsoft.com/ja-jp/services/hockeyapp/" target="_blank" class="ext">HockeyApp</a></div>
            <img src="assets/images/icon_hockey.png" class="estimatePartsImage" alt="">
            <div class="estimatePartsPrice">&yen; 6,120 円 / 月</div>
          </div>
          <div class="estimateRightBox1">
            <p class="estimateDLHead">各サービスの選択プラン詳細はこちら。</p>
            <p class="estimateDL"><a href="assets/files/Quote_EngageYourCustomers.xlsx">見積結果をダウンロード<br>(Excel 形式 / 77KB)</a></p>
            <div class="estimateTotal">合計：&yen; 149,608 円 / 月</div>
          </div>
        </div>
      </li>
      <li>
        <h3>従業員が活用する顧客サービス提供管理ソリューション</h3>
        <div class="estimatePartsWrapper">
          <div class="estimateParts">
            <div class="estimatePartsTitle"><a href="https://azure.microsoft.com/ja-jp/services/app-service/" target="_blank" class="ext">App Service</a></div>
            <img src="assets/images/icon_app-service.png" class="estimatePartsImage" alt="">
            <div class="estimatePartsPrice">&yen; 17,910 円 / 月</div>
          </div>
          <div class="estimateParts">
            <div class="estimatePartsTitle"><a href="https://azure.microsoft.com/ja-jp/services/virtual-machines/" target="_blank" class="ext">Virtual Machines</a></div>
            <img src="assets/images/icon_virtual.png" class="estimatePartsImage" alt="">
            <div class="estimatePartsPrice">&yen; 50,997 円 / 月</div>
          </div>
          <div class="estimateParts">
            <div class="estimatePartsTitle"><a href="https://azure.microsoft.com/ja-jp/services/sql-database/" target="_blank" class="ext">SQL Database</a></div>
            <img src="assets/images/icon_sql.png" class="estimatePartsImage" alt="">
            <div class="estimatePartsPrice">&yen; 6,921 円 / 月</div>
          </div>
          <div class="estimateParts">
            <div class="estimatePartsTitle"><a href="https://azure.microsoft.com/ja-jp/services/storage/" target="_blank" class="ext">Storage</a></div>
            <img src="assets/images/icon_storage.png" class="estimatePartsImage" alt="">
            <div class="estimatePartsPrice">&yen; 1,028 円 / 月</div>
          </div>
          <div class="estimateParts">
            <div class="estimatePartsTitle"><a href="https://azure.microsoft.com/ja-jp/services/cache/" target="_blank" class="ext">Redis Cache</a></div>
            <img src="assets/images/icon_redis.png" class="estimatePartsImage" alt="">
            <div class="estimatePartsPrice">&yen; 10,473 円 / 月</div>
          </div>
          <div class="estimateParts">
            <div class="estimatePartsTitle"><a href="https://azure.microsoft.com/ja-jp/services/application-insights/" target="_blank" class="ext">Application Insights</a></div>
            <img src="assets/images/icon_application.png" class="estimatePartsImage" alt="">
            <div class="estimatePartsPrice">&yen; 7,650 円 / 月</div>
          </div>
          <div class="estimateParts">
            <div class="estimatePartsTitle"><a href="https://azure.microsoft.com/ja-jp/services/hockeyapp/" target="_blank" class="ext">HockeyApp</a></div>
            <img src="assets/images/icon_hockey.png" class="estimatePartsImage" alt="">
            <div class="estimatePartsPrice">&yen; 6,120 円 / 月</div>
          </div>
          <div class="estimateParts">
            <div class="estimatePartsTitle"><a href="https://azure.microsoft.com/ja-jp/services/mobile-engagement/" target="_blank" class="ext">Mobile Engagement</a></div>
            <img src="assets/images/icon_mobile-engagement.png" class="estimatePartsImage" alt="">
            <div class="estimatePartsPrice">&yen; 4,998 円 / 月</div>
          </div>
          <div class="estimateRightBox1">
            <p class="estimateDLHead">各サービスの選択プラン詳細はこちら。</p>
            <p class="estimateDL"><a href="assets/files/Quote_EmpowerYourEmployees.xlsx">見積結果をダウンロード<br>(Excel 形式 / 77KB)</a></p>
            <div class="estimateTotal">合計：&yen; 136,696 円 / 月</div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
