
          </div>
          <div id="azureFoot">
            <div class="azureFootWrapper">
              <div class="azureFootLeft"> <img src="https://www.microsoft.com/japan/msbc/Express/solution/azure_soloit/images/footer_img.png" alt="" width="22" height="22">
                <p>日本</p>
              </div>
              <div class="azureFootRight">
                <div><img src="https://www.microsoft.com/japan/msbc/Express/solution/azure_soloit/images/footer_logo.png" alt="Microsoft" width="73" height="15"></div>
                <ul>
                  <li><a href="http://support.microsoft.com/contactus/?ws=mscom" target="_blank" title="※別ウィンドウで開きます">お問い合わせ</a></li>
                  <li><a href="http://www.microsoft.com/ja-jp/mscorp/legal/misc/cpyright.aspx" target="_blank" title="※別ウィンドウで開きます">使用条件</a></li>
                  <li><a href="http://www.microsoft.com/en-us/legal/intellectualproperty/trademarks/en-us.aspx" target="_blank" title="※別ウィンドウで開きます">商標</a></li>
                  <li><a href="http://www.microsoft.com/privacystatement/ja-jp/core/default.aspx" target="_blank" title="※別ウィンドウで開きます">プライバシー</a></li>
                  <li><a href="http://choice.microsoft.com/ja-JP" target="_blank" title="※別ウィンドウで開きます">広告について</a></li>
                  <li>© 2016 Microsoft</li>
                </ul>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
<script type="text/javaScript">
var varSegmentation=0;
var varClickTracking=1;
var varCustomerTracking=1;
var varAutoFilePV=1;
var Route="LE128";
var Ctrl="SS100";
document.write("<script type='text/javascript' src='"+(window.location.protocol)+"//c.microsoft.com/ms.js'><\/script>");
</script>
<noscript><img alt="" width="1" height="1" src="//c.microsoft.com/trans_pixel.aspx"></noscript>
<!-- AAM Tag Include Start -->
<script type="text/javascript" src="/japan/msbc/common/js/tag/MSCOM_DIL_6_4.js"></script>
<script type="text/javascript" src="/japan/msbc/common/js/tag/ID_Sync_FINAL.js"></script>
<!-- AAM Tag Include End -->
<!-- End // footermainArea -->
</body>
</html>
