<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6" lang="ja"><![endif]-->
<!--[if IE 7 ]> <html class="ie7" lang="ja"><![endif]-->
<!--[if IE 8 ]> <html class="ie8" lang="ja"><![endif]-->
<!--[if IE 9 ]> <html class="ie9" lang="ja"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="ja">
<!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=100">
<meta name="viewport" content="width=device-width">

<!-- ↓default_msbc.aspx (納品用) にコピーする↓ -->
<title><%= pageTitle %> | MSBC</title>
<meta name="description" content="あなたのビジネスを素早くスタート。成長とともに規模も機能もスケール アップ。Azure にすべてお任せ">
<meta name="keywords" content="Microsoft,マイクロソフト,MSBC,会員登録,Windows,Azure,無料アカウント,シミュレーション">
<meta name="Pagetitle" content="<%= pageTitle %>">
<!-- ↓必要に応じて使用します。↓ -->
<!--
<meta property="og:title" content="<%= pageTitle %> | MSBC">
<meta property="og:type" content="website">
<meta property="og:url" content="http://www.microsoft.com/japan/msbc/express/solution/azure_openmind">
<meta property="og:image" content="http://www.microsoft.com/japan/msbc/express/solution/azure_openmind/images/img_fbicon.jpg">
<meta property="og:site_name" content="MSBC (Microsoft Business Connection)">
<meta property="og:description" content="最新の Azure 活用事例や Azure Tips や Stack Overflow 等からヒントを得てあなたのサービスに Azure を組み込もう">
-->
<!-- ↑必要に応じて使用します。↑ -->
<!-- ↑default_msbc.aspx (納品用) にコピーする↑ -->

<link rel="stylesheet" href="/japan/msbc/CSP/import.css"  media="all">
<link rel="stylesheet" href="/japan/msbc/Express/common/css/msbc_base.css">
<link rel="stylesheet" href="/japan/msbc/Express/common/css/msbc_home.css">
<link rel="stylesheet" href="/japan/msbc/Express/common/css/cmn_tablet.css">
<link rel="stylesheet" href="/japan/msbc/Express/common/css/cmn_smartphone.css">
<link rel="stylesheet" href="css/flexslider.css">
<link href="/japan/msbc/express/solution/azure_openmind/css/msbc_responsive.css" rel="stylesheet" type="text/css" />
<link href="assets/css/style.css" rel="stylesheet" type="text/css" />
<script src="/library/toolbar/tgar.js"></script>
<script src="/japan/msbc/Express/common/js/jquery-1.9.0.js"></script>
<script src="/japan/msbc/Express/common/js/msbc_base.js"></script>
<script type="text/javascript" src="/japan/msbc/express/solution/azure_openmind/js/jquery.bxslider.js"></script>
<script type="text/javascript" src="/japan/msbc/express/solution/azure_openmind/js/casestudyData.js"></script>
<script type="text/javascript" src="/japan/msbc/express/solution/azure_openmind/js/articleData.js"></script>
<script type="text/javascript" src="/japan/msbc/express/solution/azure_openmind/js/script.js"></script>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NV8ZVTF');</script>
<!-- End Google Tag Manager -->

</head>
<body>

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NV8ZVTF"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

	<div id="azureHead">
		<div id="titleArea">
			<div class="titleWrap">
				<div class="titleText">
					<h1>
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 165 20" x="0px" y="0px" width="165px" height="20px">
							<g>
								<title>Microsoft Azure</title>
								<path fill="#29a5de" d="M 18 19 H 16 V 7.1 C 16 6.2 16 5 16.1 3.7 h 0 c -0.2 0.8 -0.4 1.4 -0.5 1.7 L 9.5 19 h -1 l -6 -13.5 c -0.2 -0.4 -0.3 -1 -0.5 -1.8 h 0 C 2 4.4 2 5.5 2 7.1 V 19 H 0 V 1.3 h 2.7 l 5.4 12.3 c 0.4 0.9 0.7 1.7 0.8 2.1 H 9 c 0.4 -1 0.6 -1.7 0.9 -2.2 l 5.5 -12.3 H 18 V 19 Z" />
								<path fill="#29a5de" d="M 22.8 3.1 c -0.4 0 -0.7 -0.1 -0.9 -0.4 s -0.4 -0.6 -0.4 -0.9 s 0.1 -0.7 0.4 -0.9 c 0.3 -0.3 0.6 -0.4 0.9 -0.4 c 0.4 0 0.7 0.1 0.9 0.4 c 0.3 0.3 0.4 0.6 0.4 0.9 c 0 0.4 -0.1 0.7 -0.4 0.9 C 23.5 3 23.2 3.1 22.8 3.1 Z M 23.8 19 h -2 V 6.3 h 2 V 19 Z" />
								<path fill="#29a5de" d="M 35.8 18.4 c -1 0.6 -2.1 0.9 -3.5 0.9 c -1.8 0 -3.3 -0.6 -4.4 -1.8 c -1.1 -1.2 -1.7 -2.7 -1.7 -4.6 c 0 -2.1 0.6 -3.7 1.8 -5 C 29.4 6.7 30.9 6 32.9 6 C 34 6 35 6.2 35.9 6.7 v 2.1 c -0.9 -0.7 -1.9 -1 -3 -1 c -1.3 0 -2.3 0.5 -3.2 1.4 c -0.8 0.9 -1.2 2.1 -1.2 3.6 c 0 1.5 0.4 2.6 1.2 3.5 c 0.8 0.9 1.8 1.3 3.1 1.3 c 1.1 0 2.1 -0.4 3.1 -1.1 V 18.4 Z" />
								<path fill="#29a5de" d="M 44.9 8.4 C 44.5 8.1 44 8 43.3 8 c -0.9 0 -1.6 0.4 -2.2 1.2 c -0.6 0.8 -0.9 1.9 -0.9 3.3 V 19 h -2 V 6.3 h 2 v 2.6 h 0 c 0.3 -0.9 0.7 -1.6 1.3 -2.1 c 0.6 -0.5 1.3 -0.7 2 -0.7 c 0.5 0 0.9 0.1 1.2 0.2 V 8.4 Z" />
								<path fill="#29a5de" d="M 51.4 19.3 c -1.9 0 -3.4 -0.6 -4.5 -1.8 c -1.1 -1.2 -1.7 -2.7 -1.7 -4.7 c 0 -2.1 0.6 -3.8 1.7 -5 S 49.7 6 51.7 6 c 1.9 0 3.4 0.6 4.4 1.7 c 1.1 1.2 1.6 2.8 1.6 4.8 c 0 2 -0.6 3.6 -1.7 4.8 C 54.8 18.6 53.3 19.3 51.4 19.3 Z M 51.5 7.7 c -1.3 0 -2.3 0.4 -3.1 1.3 c -0.8 0.9 -1.1 2.1 -1.1 3.7 c 0 1.5 0.4 2.7 1.1 3.5 c 0.8 0.9 1.8 1.3 3.1 1.3 c 1.3 0 2.3 -0.4 3 -1.3 c 0.7 -0.8 1.1 -2 1.1 -3.6 c 0 -1.6 -0.4 -2.8 -1.1 -3.6 C 53.8 8.2 52.8 7.7 51.5 7.7 Z" />
								<path fill="#29a5de" d="M 59.5 18.5 v -2.2 c 1.1 0.8 2.3 1.2 3.6 1.2 c 1.8 0 2.7 -0.6 2.7 -1.8 c 0 -0.3 -0.1 -0.6 -0.2 -0.9 c -0.2 -0.2 -0.4 -0.4 -0.6 -0.6 c -0.3 -0.2 -0.6 -0.3 -0.9 -0.5 c -0.3 -0.1 -0.7 -0.3 -1.1 -0.4 c -0.6 -0.2 -1 -0.4 -1.5 -0.7 c -0.4 -0.2 -0.8 -0.5 -1.1 -0.8 c -0.3 -0.3 -0.5 -0.6 -0.6 -1 c -0.1 -0.4 -0.2 -0.8 -0.2 -1.3 c 0 -0.6 0.1 -1.1 0.4 -1.6 C 60.2 7.7 60.5 7.3 61 7 c 0.5 -0.3 1 -0.5 1.5 -0.7 C 63.1 6.1 63.7 6 64.3 6 c 1.1 0 2.1 0.2 2.9 0.6 v 2 c -0.9 -0.6 -2 -0.9 -3.2 -0.9 c -0.4 0 -0.7 0 -1 0.1 c -0.3 0.1 -0.6 0.2 -0.8 0.4 c -0.2 0.2 -0.4 0.3 -0.5 0.6 c -0.1 0.2 -0.2 0.5 -0.2 0.7 c 0 0.3 0.1 0.6 0.2 0.8 c 0.1 0.2 0.3 0.4 0.5 0.6 c 0.2 0.2 0.5 0.3 0.8 0.5 c 0.3 0.1 0.7 0.3 1.1 0.5 c 0.6 0.2 1.1 0.4 1.5 0.7 c 0.4 0.2 0.8 0.5 1.1 0.8 c 0.3 0.3 0.6 0.6 0.7 1 c 0.2 0.4 0.3 0.8 0.3 1.3 c 0 0.6 -0.1 1.2 -0.4 1.6 c -0.3 0.5 -0.6 0.8 -1.1 1.1 c -0.5 0.3 -1 0.5 -1.6 0.7 c -0.6 0.1 -1.2 0.2 -1.9 0.2 C 61.6 19.3 60.4 19 59.5 18.5 Z" />
								<path fill="#29a5de" d="M 75.6 19.3 c -1.9 0 -3.4 -0.6 -4.5 -1.8 c -1.1 -1.2 -1.7 -2.7 -1.7 -4.7 c 0 -2.1 0.6 -3.8 1.7 -5 C 72.4 6.6 73.9 6 75.9 6 c 1.9 0 3.4 0.6 4.4 1.7 c 1.1 1.2 1.6 2.8 1.6 4.8 c 0 2 -0.6 3.6 -1.7 4.8 C 79 18.6 77.5 19.3 75.6 19.3 Z M 75.7 7.7 c -1.3 0 -2.3 0.4 -3.1 1.3 c -0.8 0.9 -1.1 2.1 -1.1 3.7 c 0 1.5 0.4 2.7 1.1 3.5 c 0.8 0.9 1.8 1.3 3.1 1.3 c 1.3 0 2.3 -0.4 3 -1.3 c 0.7 -0.8 1.1 -2 1.1 -3.6 c 0 -1.6 -0.4 -2.8 -1.1 -3.6 C 78.1 8.2 77 7.7 75.7 7.7 Z" />
								<path fill="#29a5de" d="M 97.6 8.1 V 6.3 h -3.2 V 2.6 l -2 0.7 v 3.1 h -2.6 h -1.5 h -1.4 V 4.4 c 0 -1.8 0.7 -2.7 2.1 -2.7 c 0.5 0 0.9 0.1 1.3 0.3 V 0.2 C 89.9 0.1 89.4 0 88.8 0 c -1.1 0 -2.1 0.4 -2.9 1.2 c -0.8 0.8 -1.1 1.8 -1.1 3.1 v 2 h -2.2 v 1.7 h 2.2 V 19 h 2 V 8.1 h 1.4 h 1.5 h 2.6 v 7.5 c 0 2.5 1.1 3.7 3.3 3.7 c 0.8 0 1.4 -0.1 1.9 -0.4 v -1.7 c -0.4 0.3 -0.8 0.4 -1.3 0.4 c -0.7 0 -1.1 -0.2 -1.4 -0.5 c -0.3 -0.4 -0.4 -1 -0.4 -1.8 V 8.1 H 97.6 Z" />
								<path fill="#29a5de" d="M 119.9 19 h -2.3 l -1.9 -5 h -7.5 l -1.8 5 h -2.3 L 111 1.3 h 2.1 L 119.9 19 Z M 115.1 12.1 l -2.8 -7.5 c -0.1 -0.2 -0.2 -0.6 -0.3 -1.2 h 0 c -0.1 0.5 -0.2 0.9 -0.3 1.2 l -2.7 7.5 H 115.1 Z" />
								<path fill="#29a5de" d="M 130.4 6.9 l -7.5 10.3 h 7.4 V 19 H 120 v -0.6 l 7.5 -10.3 h -6.8 V 6.3 h 9.7 V 6.9 Z" />
								<path fill="#29a5de" d="M 142.6 19 h -2 v -2 h 0 c -0.8 1.5 -2.1 2.3 -3.9 2.3 c -3 0 -4.5 -1.8 -4.5 -5.4 V 6.3 h 2 v 7.2 c 0 2.7 1 4 3.1 4 c 1 0 1.8 -0.4 2.4 -1.1 c 0.6 -0.7 1 -1.7 1 -2.9 V 6.3 h 2 V 19 Z" />
								<path fill="#29a5de" d="M 152.6 8.4 c -0.4 -0.3 -0.9 -0.4 -1.5 -0.4 c -0.9 0 -1.6 0.4 -2.2 1.2 c -0.6 0.8 -0.9 1.9 -0.9 3.3 V 19 h -2 V 6.3 h 2 v 2.6 h 0 c 0.3 -0.9 0.7 -1.6 1.3 -2.1 c 0.6 -0.5 1.3 -0.7 2 -0.7 c 0.5 0 0.9 0.1 1.2 0.2 V 8.4 Z" />
								<path fill="#29a5de" d="M 164 13.1 h -8.9 c 0 1.4 0.4 2.5 1.1 3.3 c 0.7 0.8 1.7 1.1 3 1.1 c 1.4 0 2.7 -0.5 3.9 -1.4 V 18 c -1.1 0.8 -2.6 1.2 -4.4 1.2 c -1.8 0 -3.2 -0.6 -4.2 -1.7 c -1 -1.1 -1.5 -2.8 -1.5 -4.8 c 0 -2 0.6 -3.6 1.7 -4.8 c 1.1 -1.2 2.5 -1.9 4.1 -1.9 s 2.9 0.5 3.8 1.6 s 1.4 2.6 1.4 4.4 V 13.1 Z M 161.9 11.4 c 0 -1.2 -0.3 -2.1 -0.8 -2.7 c -0.6 -0.6 -1.3 -1 -2.3 -1 c -1 0 -1.8 0.3 -2.4 1 c -0.7 0.7 -1.1 1.6 -1.2 2.7 H 161.9 Z" />
							</g>
						</svg>
					</h1>
				</div>
				<div class="titleBtn">
					<p class="btnMessage"><span>各種 Azure サービス</span><span> 1 か月 20,500 円分を無料利用</span></p>
					<a href="https://azure.microsoft.com/ja-jp/free/" class="btnBegin" target="_blank">無料で始める</a>
				</div>
			</div>
		</div>
		<div id="headMenu">
			<div class="titleWrap">
				<ul>
					<li><a href="#reason">選ばれる理由</a></li>
					<li><a href="#example">導入事例</a></li>
					<li><a href="#solution">ソリューション</a></li>
					<li><a href="#estimate">お見積の例</a></li>
					<li><a href="#security">セキュリティ</a></li>
					<li><a href="#trial">無料お試し</a></li>
				</ul>
			</div>
		</div>
	</div>
  <div class="main-content" role="main">
    <div>
      <script src="/ja-jp/server-cloud/Scripts/heroTabsNewProductPage.js" type="text/javascript"></script>
      <link href="/ja-jp/server-cloud/Styles/heroTabsNewProductPage.css" rel="stylesheet" />

      <!-- begin stbHERO_ProductPage -->

      <a id="SolutionsPage_Comm"></a>
      <div class="stbHeroTabs_NewProductPage jp-Products">
        <div class="stbTabPanels">
          <section id="stbTabPanel-Overview" role="tabpanel" aria-hidden="true" aria-labelled="stbTabbedNav-Overview" class="stbTabPanel stbTabPanelActive ">
            <div class="stbTabPanelContent">
