<div class="row-solutions solution__list solution-list">
  <div class="solution-list__item">
    <div class="logo-text-container sd-equalize">
      <a href="https://azure.microsoft.com/ja-jp/solutions/digital-marketing/" data-event="solutionindex-clicked-solution" data-event-property="digital-marketing">
      <img class="icon icon-size5" src="//azurecomcdn.azureedge.net/cvt-3bcb735f623b8f781962931d7ab7b63c75fa1e3d1392f3b845d0e82131b487de/images/shared/solutions/Digital-Marketing.svg" alt="">
      <h4>デジタル マーケティング</h4>
      </a>
      <p>個人に合わせたスケーラブルなデジタル キャンペーンによって、世界中の顧客を結びつける</p>
    </div>
  </div>
  <div class="solution-list__item">
    <div class="logo-text-container sd-equalize">
      <a href="https://azure.microsoft.com/ja-jp/solutions/mobile/" data-event="solutionindex-clicked-solution" data-event-property="mobile">
      <img class="icon icon-size5" src="//azurecomcdn.azureedge.net/cvt-8120899e3f2e3c20de3606c38d34b8dc3f42671f0a3b7c5259f056d1f5845527/images/shared/solutions/Mobile.svg" alt="">
      <h4>モバイル</h4>
      </a>
      <p>1 つのモバイル アプリのビルドで、場所を問わずにあらゆるデバイスから顧客が利用できるようにする</p>
    </div>
  </div>
  <div class="solution-list__item">
    <div class="logo-text-container sd-equalize">
      <a href="https://azure.microsoft.com/ja-jp/solutions/ecommerce/" data-event="solutionindex-clicked-solution" data-event-property="ecommerce">
      <img class="icon icon-size5" src="//azurecomcdn.azureedge.net/cvt-4d0cbd005f753059200ec563065ed95f95a7c3022d553358a8766d30a674bbf4/images/shared/solutions/E-Commerce.svg" alt="">
      <h4>eコマース</h4>
      </a>
      <p>個人に合わせたスケーラブルで安全なショッピング体験により、顧客が必要とするものを提供する</p>
    </div>
  </div>
  <div class="solution-list__item">
    <div class="logo-text-container sd-equalize">
      <a href="https://azure.microsoft.com/ja-jp/solutions/business-intelligence/" data-event="solutionindex-clicked-solution" data-event-property="business-intelligence">
      <img class="icon icon-size5" src="//azurecomcdn.azureedge.net/cvt-cbea9095402fb123ee343889d0d854024a5683ed28e13e2068fc2f9b4bd05178/images/shared/solutions/Business-Intelligence.svg" alt="">
      <h4>ビジネス インテリジェンス</h4>
      </a>
      <p>データを分析して洞察を深めることで、意思決定をより適切で迅速なものにする</p>
    </div>
  </div>
  <div class="solution-list__item">
    <div class="logo-text-container sd-equalize">
      <a href="https://azure.microsoft.com/ja-jp/solutions/big-data/" data-event="solutionindex-clicked-solution" data-event-property="big-data">
      <img class="icon icon-size5" src="//azurecomcdn.azureedge.net/cvt-2c6cbf4c5b26bbf2d75c604319647de7391045ac6be601d6526ffa134066dcbd/images/shared/solutions/Big-Data.svg" alt="">
      <h4>ビッグ データと分析</h4>
      </a>
      <p>必要なすべてのデータをリアルタイムで分析することで、情報に基づいた意思決定を実現する</p>
    </div>
  </div>
  <div class="solution-list__item">
    <div class="logo-text-container sd-equalize">
      <a href="https://azure.microsoft.com/ja-jp/solutions/data-warehouse/" data-event="solutionindex-clicked-solution" data-event-property="data-warehouse">
      <img class="icon icon-size5" src="//azurecomcdn.azureedge.net/cvt-84f33a06252381eb5c3044f8d808f1789f8a24bae7ca57b6a8b03d7de48cfb9b/images/shared/solutions/Data-Warehouse.svg" alt="">
      <h4>データ ウェアハウス</h4>
      </a>
      <p>セキュリティ、拡張性、分析性を犠牲にすることなく、急激なデータの増大に対応する</p>
    </div>
  </div>
  <div class="solution-list__item">
    <div class="logo-text-container sd-equalize">
      <a href="https://azure.microsoft.com/ja-jp/solutions/saas/" data-event="solutionindex-clicked-solution" data-event-property="saas">
      <img class="icon icon-size5" src="//azurecomcdn.azureedge.net/cvt-a0f71665bbedd695af23ad52a582124745c812b401ba3eb4407adcdbaccc645f/images/shared/solutions/Saas.svg" alt="">
      <h4>ビジネス SaaS アプリ</h4>
      </a>
      <p>Azure から得られるビジネス上の知見とインテリジェンスを活用してサービスとしてのソフトウェア (SaaS) アプリを構築</p>
    </div>
  </div>
  <div class="solution-list__item">
    <div class="logo-text-container sd-equalize">
      <a href="https://azure.microsoft.com/ja-jp/solutions/dev-test/" data-event="solutionindex-clicked-solution" data-event-property="dev-test">
      <img class="icon icon-size5" src="//azurecomcdn.azureedge.net/cvt-6cf1b6254f2b0ac84e0c8cc733b88da42875c673fecb16988494b5d4c9009b09/images/shared/solutions/Dev-Test.svg" alt="">
      <h4>開発とテスト</h4>
      </a>
      <p>どのようなプラットフォームにおいても、アプリケーションの構築とテストのプロセスを簡略化し、高速化を図る</p>
    </div>
  </div>
</div>
