<% var
pageTitle = "ビジネスの成長をサポートするプラットフォーム";
pageId = "index";
pageUrl = "";
pageDescription = "";
pageKeywords = "";
%><% include _header %>
    <section class="l-section catch">
      <div class="l-section__inner">
        <div class="catch__text">
          <h2 class="catch-title">
            ビジネスに求められるスピードと柔軟性、<br class="hide-sp">
            あなたの求める条件に適したクラウドサービス
          </h2>
          <p class="catch-desc">
            クラウドを活用して、今こそ変革のとき。IT環境の強化、進むモバイルシフトなど、<br class="hide-sp">
            ビジネスをとりまく状況は常に変化しつづけています。そのような中、安全で継続的なサービスや<br class="hide-sp">
            アプリの提供を行なっていくために、柔軟で機動性の高いクラウドを求めるあなたにこそ、<br class="hide-sp">
            ぜひ試していただきたいクラウドサービスです。
          </p>
        </div>
        <a href="https://azure.microsoft.com/ja-jp/free/" class="button" target="_blank">無料アカウントを取得</a>
      </div>
    </section>
    <section class="l-section reason" id="reason">
      <div class="l-section__inner is-s">
        <h3 class="reason__headline headline"><span class="en">Micorosoft Azure</span> が選ばれる理由</h3>
        <p class="reason__desc desc">
          世界基準の高い技術力とセキュリティで、御社に合った最適なクラウド環境を実現できます。<br class="hide-sp">
          Microsoft Azure なら、既存のシステムや開発環境と連携しながら、変化する顧客ニースに応えることが可能です。<br class="hide-sp">
          ０から始める必要はありません。<br class="hide-sp">
          あなたが求めるクラウドはここにあります。
        </p>
        <div class="reason__embed">
          <iframe width="994" height="559" src="https://www.youtube.com/embed/1QWdVbsHS2o?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </section>
    <section class="l-section example" id="example">
      <div class="l-section__inner is-s">
        <h3 class="example__headline headline is-center">導入事例</h3>
        <div class="example-contents">
          <h4 class="example-contents__title"><span>スピードと柔軟性で課題解決</span></h4>
          <div class="example-contents__list example-list">
            <a href="https://www.microsoft.com/ja-jp/casestudies/7andi.aspx" class="example-list__item example-item" target="_blank">
              <span class="example-item__image"><img src="assets/images/example_7andi.png" alt=""></span>
              <span class="example-item__name">株式会社セブン＆アイ<br>・ホールディングス</span>
              <span class="example-item__body">セブン＆アイ・ホールディングスの第 2 ステージに据えられた「omni7」に、Microsoft Azure を基盤とした Windows タブレット「EM10」を採用。クラウドならではの拡張性とオール イン ワン性を持った接客端末により、変化を続ける顧客ニーズに応える。</span>
            </a>
            <a href="https://www.microsoft.com/ja-jp/casestudies/magaseek.aspx" class="example-list__item example-item" target="_blank">
              <span class="example-item__image"><img src="assets/images/example_magaseek.png" alt=""></span>
              <span class="example-item__name">マガシーク株式会社</span>
              <span class="example-item__body">SQL Server と Azure を採用した新たなデータ分析基盤を、わずか 2 か月で開発。ユーザーによる分析レポートの利用率は 20 倍向上し、データを活用するという風土が全社的に定着。</span>
            </a>
            <a href="https://www.microsoft.com/ja-jp/casestudies/kajitaku.aspx" class="example-list__item example-item" target="_blank">
              <span class="example-item__image"><img src="assets/images/example_kajitaku.png" alt=""></span>
              <span class="example-item__name">株式会社カジタク</span>
              <span class="example-item__body">Microsoft Azure 上で基幹システムを構築し、 IT を積極的に活用。ビジネスの急成長に対応しやすいスケーラビリティや、他のクラウド サービスとの連携が容易なオープンな設計も高く評価。</span>
            </a>
          </div>
          <a href="https://azure.microsoft.com/ja-jp/free/" class="button" target="_blank">無料アカウントを取得</a>
        </div>
      </div>
    </section>
    <section class="l-section solution" id="solution">
      <div class="l-section__inner">
        <h3 class="solution__headline headline"><span class="en">Micorosoft Azure</span> のソリューション</h3>
        <p class="solution__desc desc">
          技術文書からパートナー ソリューションまで、完全なソリューションに必要なあらゆるものが揃っています。<br class="hide-sp">
          GE Healthcare、3M、Rolls-Royce などのお客様がすでに信頼を置いているソリューションをすぐに使い始めましょう。
        </p>
        <% include _solutions %>
        <%# <ul class="solution-contents__list solution-list">
          <li class="solution-list__item solution-item">
            <img src="assets/images/logo_seven.png" class="solution-item__image" alt="">
            <h5 class="solution-item__name">株式会社セブン＆アイ・ホールディングス</h5>
            <p class="solution-item__body">セブン＆アイ・ホールディングスの第 2 ステージに据えられた「omni7」に、Microsoft Azure を基盤とした Windows タブレット「EM10」を採用。クラウドならではの拡張性とオール イン ワン性を持った接客端末により、変化を続ける顧客ニーズに応える。</p>
          </li>
        </ul>%>
        <a href="https://azure.microsoft.com/ja-jp/free/" class="button" target="_blank">無料アカウントを取得</a>
      </div>
    </section>
    <section class="l-section estimate" id="estimate">
      <div class="l-section__inner is-s">
        <h3 class="estimate__headline headline is-center">お見積の例</h3>
        <p class="estimate__desc desc is-strong">
          本番利用環境を想定した Azure 利用サービス構成と費用例をサンプルとしてご用意いたしました。
        </p>
        <p class="estimate__desc desc">
          ※お見積は東日本データセンターを利用した場合の 2016 年 8 月時点の MOSP (Microsoft Online Subscription Program) 価格です。<br>最新の価格は<a href="https://azure.microsoft.com/ja-jp/pricing/" target="_blank" class="ext">こちらのサイト</a>をご参照ください。<br>
          ※月額料金は、1 か月 744 時間換算でお見積をしています。小数点以下は切り上げとなります。<br>
          ※購入形態により価格が安くなる場合があります。購入オプションは<a href="https://azure.microsoft.com/ja-jp/pricing/purchase-options/" target="_blank" class="ext">こちら</a>をご参照ください。
        </p>
        <p class="estimate__desc desc is-attention">
          月額&yen;30,600 のサポート オプションに加入することで、24 時間 365 日体制のテクニカル サポートが無制限受けられます。
        </p>
        <% include _estimate %>
      </div>
    </section>
    <section class="l-section security" id="security">
      <div class="l-section__inner">
        <h3 class="security__headline headline">目に見える世界最高基準のセキュリティ</h3>
        <p class="security__desc desc">
          セキュリティとプライバシーは Azure の開発に組み込まれています。業界最高のセキュリティ手段とプライバシー ポリシーを開発し、国際的なコンプライアンス プログラムに参加しています。他のクラウド プロバイダーを上回る認定を受けています。
        </p>
        <% include _security %>
        <a href="https://azure.microsoft.com/ja-jp/free/" class="button" target="_blank">無料アカウントを取得</a>
      </div>
    </section>
    <section class="l-section step">
      <div class="l-section__inner">
        <h3 class="step__headline headline"><span class="en">5</span> 分で Azure の<br class="show-sp">無料アカウントを取得</h3>
        <ul class="step__list step-list">
          <li class="step-list__item step-item">
            <h5 class="step-item__title">
              <span class="step-num">STEP 1</span>
              <span class="step-title"><span class="en">Micorosoft Azure</span> サインアップ</span>
            </h5>
            <p class="step-item__body">個人情報の入力、本人確認の為の携帯電話確認、支払情報と勤務先情報を入力ください。</p>
            <p class="step-item__note">※Microsoftアカウントをお持ちでない方は登録をお願いします。</p>
          </li>
          <li class="step-list__item step-item">
            <h5 class="step-item__title">
              <span class="step-num">STEP 2</span>
              <span class="step-title"><span class="en">Micorosoft Azure</span> ツアー</span>
            </h5>
            <p class="step-item__body">サブスクリプション画面からポータルアイコンをクリックするとAzureコンソールの操作方法についての説明が表示されます。</p>
          </li>
          <li class="step-list__item step-item">
            <h5 class="step-item__title">
              <span class="step-num">STEP 3</span>
              <span class="step-title">サインアップ</span>
            </h5>
            <p class="step-item__body">Microsoftアカウントのサインイン情報を入力して、サインインを完了すると、すべてのMicrosoft Azureのサービスが利用可能です。</p>
          </li>
        </ul>
        <a href="https://azure.microsoft.com/ja-jp/free/" class="button" target="_blank">無料アカウントを取得</a>
      </div>
    </section>
    <section class="l-section trial" id="trial">
      <div class="l-section__inner">
        <h3 class="trial__headline headline is-center">無料の <span class="en">Azure</span> アカウントを<br class="show-sp">今すぐ作成しましょう</h3>
        <h3 class="trial__desc desc">各種 Azure サービスを確かめてください。<br class="show-sp">まずは無料でスタート。</h3>
        <p class="trial__note">
          &yen;20,500 のクレジット付きで始められて、<br class="hide-sp">
          試用期間後も一部オプションを無料で引き続き使えます。
        </p>
        <div class="trial__list trial-list">
          <div class="trial-list__item trial-item">
            <p class="trial-item__icon"><img src="assets/images/icon_list01.png" alt=""></p>
            <p class="trial-item__body">
              1 か月に最大で 14 台までの仮想マシン、40 個までの SQL データベース、<br class="hide-sp">              または 8TB までのストレージをプロビジョニングできます。
            </p>
          </div>
          <div class="trial-list__item trial-item">
            <p class="trial-item__icon"><img src="assets/images/icon_list02.png" alt=""></p>
            <p class="trial-item__body">
              Redis Cache や Search、Content Delivery Network を使用する<br class="hide-sp">
              Web アプリ、モバイル アプリ、API アプリを作成できます。
            </p>
          </div>
          <div class="trial-list__item trial-item">
            <p class="trial-item__icon"><img src="assets/images/icon_list03.png" alt=""></p>
            <p class="trial-item__body">
              Machine Learning、Streaming Analytics、Hadoop を使って<br class="hide-sp">
              ビッグ データを活用できます。
            </p>
          </div>
          <div class="trial-list__item trial-item">
            <p class="trial-item__icon"><img src="assets/images/icon_list04.png" alt=""></p>
            <p class="trial-item__body">
              監視機能と異常検出機能を備えたリアルタイムのモノの<br class="hide-sp">
              インターネット ( IoT ) アプリを作成できます。
            </p>
          </div>
          <a href="https://azure.microsoft.com/ja-jp/free/" class="button" target="_blank">無料アカウントを取得</a>
        </div>
      </div>
    </section>
<% include _footer %>
